* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: 'poppins' , sans-serif;
}

body{
 background: rgb(102, 102, 39);
 min-height: 100vh;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  z-index: 100;
}

header .logo{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase ;
  letter-spacing: 2px;


}

header ul{
  display: flex;
  justify-content: center;
  align-items: center;

}

header ul li{
  list-style: none;
  margin-left: 20px;
}

header ul li a{
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;


}


header ul li a:hover,
header ul li a.active
{
  background: #fff;
  color: black;
}


.container{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url("../assets/ss3.jpg");
  background-size: cover ;
  background-position: center;
  padding: 0 8%;
  position: relative;
}
.text-box{
  color: white;
  position:absolute ;
  bottom: 20%;
}
.text-box p{
  font-size: 50px;
  font-weight: 600;
}
.text-box h1{
  font-size: 190px;
  line-height: 160px;
  margin-left: -10px;
  color: transparent ;
  -webkit-text-stroke: 1px #ffffff;
  background: url("../assets/back.png");
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
  -webkit-animation-name: fadein;

}
@keyframes back {
  100%{
    background-position: 2000px 0;
  }

}

.text-box h3{
  font-size: 30px;
  font-weight: 600;
}
.text-box .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.text-box a{
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 20px;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
}


.text-box a:hover,
.text-box a.active{
  color: darkgoldenrod;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 20px;
  border: 2px solid darkgoldenrod;
  display: flex;
  align-items: center;
}


 
 


 